################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.venv*
**/.vs

**/__pycache__
**/build
**/dist

